@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    font-size: 62.5%;
    --primary-color: #193441;
    --secondary-color: #3E606F;
    --terciary-color: #91AA9D;
    --color-white: #EDF0F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

.container {
    background-image: url(../assets/about/background-image.png);
    background-repeat: no-repeat;
    background-position: top -5rem left -10rem;
}

header {
    background-image: linear-gradient(to right, rgba(25, 52, 65, 0.5), rgba(62, 96, 111, 0.5));
}

main {
    padding: 3rem 2rem;
    margin-top: 3rem;
}

main h1 {
    color: var(--color-white);
    font-weight: 600;
    text-align: left;
    text-shadow: .2rem .1rem 0 #3a5547;
    margin-top: 4rem;
    white-space: nowrap;
    letter-spacing: .2rem;
}

main ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 4rem;
    margin-top: 4rem;
}

main ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main ul li:nth-child(even) {
    --secondary-color: #91AA9D;
}

main ul img{
    border-radius: 50%;
    border: 1rem solid var(--secondary-color);
    width: 60vw;
}

main .person-details {
    text-align: center;
    width: 70vw;
    background-color: var(--secondary-color);
    border-radius: 50rem;
    padding: .4rem;
    transform: translateY(-1rem);
    color: var(--color-white);
}

main .person-details p {
    font-size: 2rem;
}

main .person-details span {
    margin-right: .5rem;
    font-size: 1.5rem;
}

main .person-details a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 2rem;
}

main .scroll-right-button i, main .scroll-left-button i{
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        background-position: top -5rem left -10rem;
        background-size: 70rem 28rem;
    }

    main {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    main h1 {
        font-size: 4.2rem;
        margin: 0rem 3rem;
    }

    main .scroll-horizontal {
        display: flex;
        align-items: center;
    }

    main .people {
        overflow-x: scroll;
    }

    main .people::-webkit-scrollbar {
        display: none;
    }

    main ul {
        display: flex;
        flex-direction: row;
        gap: 8rem;
        margin-top: 3.8rem;
        margin-left: 6rem;
    }

    main ul img{
        width: 25rem;
    }
    
    main .person-details {
        width: 30rem;
        background-color: var(--secondary-color);
        border-radius: 50rem;
        padding: .4rem;
        transform: translateY(-1rem);
        color: var(--color-white);
    }

    main .scroll-right-button i{
        display: block;
        background-color: var(--terciary-color);
        padding: 1.5rem;
        margin-left: 2rem;
        border-radius: 50%;
        color: var(--primary-color);
    }

    main .scroll-right-button i:hover, main .scroll-left-button i:hover{
        background-color: var(--secondary-color);
        color: var(--color-white);
        cursor: pointer;
    }

    main .scroll-left-button i {
        display: block;
        background-color: var(--terciary-color);
        padding: 1.5rem;
        margin-right: 2rem;
        border-radius: 50%;
        color: var(--primary-color);
    }

}