@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@media screen and (min-width: 768px){
    table{
        max-width: 60%;
    }
}

main h1 {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 77px;
    color: #FCFFF5;
}

body{
    background-color: #193441;
}

#desc {
    text-align: center;
    margin-top: 2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #D9D9D9;
    max-width: 98%;
}

#atributestable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

table {
    border-spacing: .8rem;
    width: 95%;
}

th{
    background-color: #3E606F;
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: left;
    height: 4rem;
    color: #EDF0F2;
}

td{
    background-color: #91AA9D;
    padding: .5rem 1rem;
    border-radius: .5rem;
    height: 4rem;
}

.col-atributos {
    width: 20%;
}

.col-descricao {
    width: 80%;
}