@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

main h1 {
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 6.4rem;
    line-height: 77px;

    color: #FCFFF5;
}

#desc {
    text-align: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 16px; */

    color: #D9D9D9;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#atributestable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25rem;
    /* position: absolute; */
    /* top: 30rem; */
}

table {
    border-collapse: collapse;
}

thead tr:first-child{
    background-color: #3E606F;
    padding: 1rem;
    border: #193441 1rem solid;
}

tbody tr{
    background-color: #91AA9D;
    border: #193441 1rem solid;
}

thead th{
    padding: 2rem 0;
    border: #193441 1rem solid;
}

tbody td{
    padding: 1rem;
    border: #193441 1rem solid;
}

.col-atributos {
    max-width: 30vw;
}

.col-descricao {
    width: 70vw;
}