.main-title h1{
    font-size: 2rem;
    text-align: center;
}
table{
    margin: 3rem auto;
    border-spacing: .8rem;
    width: 80%;
}
th{
    background-color: #91AA9D;
    padding: .5rem 1rem;
    border-radius: .3rem;
    text-align: center;
    height: 4rem;
    color: #EDF0F2;
}
.col-tags{
    width: 40%;
}
.col-nav{
    width: 10%;
}
.col-nav img{
    width: 23px;
    height: 23px;
}
td{
    background-color: #3E606F;
    padding: .5rem 1rem;
    border-radius: .3rem;
    height: 4rem;
    text-align: center;
    color: #EDF0F2;
    font-size: 1.25rem;
}

.fa-check{
    color: #193441;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}
.fa-xmark{
    color: #7F2B22;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .main-title h1{
        font-size: 4.2rem;
    }
    table{
        width: 70vw;
    }
    .fa-check{
        color: #193441;
        font-size: 4rem;
        margin: 0;
        padding: 0;
    }
    .fa-xmark{
        color: #7F2B22;
        font-size: 4rem;
        margin: 0;
        padding: 0;
    }
    td{
        font-size: 1.6rem;
    }
    .col-nav img{
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .main-title h1{
        font-size: 1.2rem;
        word-break: break-all;
    }
    .table-tags{
        overflow-x: auto;
    }
    .navegation-links{
        font-size: .8rem;
    }
}