@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    font-size: 62.5%;
    --primary-color: #193441;
    --secondary-color: #3E606F;
    --terciary-color: #91AA9D;
    --color-white: #EDF0F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: center;   
    padding: .1rem 2rem;
    /* background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color)); */
    background-color: var(--secondary-color);
}

header h1 {
    transform: translateY(-.4rem);
}

header h1 a{
    color: var(--color-white);
    font-weight: normal;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

header #menu-icon {
    font-size: 2.5rem;
    color: var(--color-white);
}

header nav {
    position: absolute;
    display: none;
    top: 105%;
    
    left: 50%;
    transform: translateX(-50%);

    width: 95%;

    background-color: #214557;
    padding: 1rem 2rem 2.5rem 2rem;
    border-radius: 1rem;
    border: .1rem solid var(--terciary-color);
}

header nav ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: 600;
}

header ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    text-align: center;
    padding: 1.5rem 0rem 0rem 0rem;
    font-size: 1.8rem;
    color: var(--color-white);
    list-style: none;
    cursor: pointer;
}

header li #references-menu-icon{
    font-size: 1.5rem;
}

header nav a{
    color: var(--color-white);
    text-decoration: none;
}

header nav #references {
    display: none;
    background-color: transparent;
    padding-top: 0rem;
}

header #references li{
    width: 100%;
    padding: 1rem 0rem 1rem 3rem;
    margin: .5rem 0rem;
    
}

#references ul li:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}

header #references a {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: normal;
}

#references a i {
    margin-right: 1rem;
    font-size: 1.8rem;
    color: var(--terciary-color);
}

main {
    flex: 1;
}

footer {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--secondary-color) !important;
    text-align: center;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

footer li {
    list-style: none;
}

footer li a{
    color: #beeed5;
    text-decoration: none;
}

.footer-icons {
    color: var(--color-white);
    font-size: 2rem;
}

.footer-links {
    display: none;
}

#footer-description, #footer-description a  {
    color: var(--color-white);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    #menu-icon {
        display: none;
    }

    header {
        display: flex;
    }

    header h1 {
        white-space: nowrap;
    }

    header nav{
        position: relative;
        left: 43%;
        transform: translateX(-50%);

        display: flex;
        
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
    }

    header nav ul {
        position: relative;
        right: -2%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }

    nav ul li {
        padding: 0;
        margin-left: 4rem;
        width: 15rem;
        white-space: nowrap;
        font-weight: normal;
    }

    header nav #references {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 150%;
        right: 14rem;
    }

    header nav #references ul {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 28rem;

        background-color: #214557;

        border-radius: 1rem;
        border: .1rem solid var(--terciary-color);
    }

    footer ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    footer ul li a{
        display: flex;
        margin-left: 5rem;
    }

    .footer-icons {
        display: none;
    }

    .footer-links {
        display: block;
        margin-left: .5rem;
    }
}
