section{
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url('../assets/home/background-home.png');
    background-size: cover;
    background-position: right bottom;
}

#first-page{
    position: relative;
    z-index: 0;
    color: white;
    width:30rem;
    height: 40rem;
    margin: auto;
    text-align: center;
    margin-top: 17rem;
}

#first-page h1{
    font-size: 7rem;
    text-shadow: 2.5px 2.5px 1px var(--terciary-color);
    line-height: 8.5rem;
}

#first-page p{
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#first-page a{
    text-decoration: none;
    color: white;
    padding: 1rem 4rem;
    background: linear-gradient(to right, var(--secondary-color), var(--terciary-color));
    border-radius: 3rem;
}

.container{
    position: relative;
    padding-bottom: 70rem;
}

.svg-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 110%; */
    margin: 0;
    /* box-sizing: border-box; */
}

section.technologies{
    display: flex;
    margin: 0;
    background-color: #f3f3f3;
    background-image: none;
    flex-direction: column;
    row-gap: 3rem;
}

.items-tech{
    display: flex;
    align-items: center;
    margin: auto;
    width: 85%;
}

.text-01{
    margin-left: 2rem;
}

.title-tech{
    display: flex;
}

.title-tech h3{
    padding: .3rem 2.5rem;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.text-02 .title-tech{
    display: flex;
    justify-content: flex-end;
}

.text-01 h3, .text-02 h3{
    font-size: 2.5rem;
    border-radius: 3rem;
    text-align: center;
}

.text-02{
    margin-left: 0;
    margin-right: 2rem;
}

.text-02 h3{
    text-align: center;
}

.waves{
    width: 100%;
    height: 100%;
    margin: 0;
}

section.about-us{
    background-image: none;
    background-color: #193441;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:15rem;
}

.text-about{
    line-height: 7rem;
}

.text-about h3, .text-about h2{
    color: #798D83;
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    text-align: center;
    margin: 0 0;
}

.text-about h2{
    color: #B7C6BE;
    font-size: 6rem;
}

.img-people{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.img-people img{
    width: 13rem;
    border-radius: 50%;
    border: .9rem solid #91AA9D;
}

.img-people .about-img-02{
    border: .9rem solid #3E606F;
}

.img-people .arrow{
    border: 0rem;
    width: 7rem;
    height: 7rem;
}

.about-img-01{
    position: relative;
    z-index: 4;
}

.about-img-02{
    position: relative;
    margin-left: -60px; 
    z-index: 3;
}

.about-img-03{
    margin-left: -60px; 
    z-index: 2;
}

.fa-arrow-circle-right{
    margin-left: -2.5rem;
    z-index: 1;
    font-size: 7rem;
    color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
    section{
        display: flex;
        justify-content: flex-start;
    }

    .container{
        padding-bottom: 77rem;
    }

    #first-page{
        text-align: start;
        width: 30rem;
        margin: 0; 
        margin-top: 15rem;
        margin-left: 8rem;
    }

    section.technologies{
        flex-wrap: wrap;
        flex-direction: row;
    }

    .items-tech{
        width: 35rem;
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-01, .text-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        margin-top: 3rem;
    }

    .text-01 h3, .text-02 h3{
        padding: 0;
        background-color: transparent;
        font-size: 2.3rem;
    }

    .text-01 p, .text-02 p{
        text-align: center;
        font-size: 1.7rem;
        width: 25rem;
    }

    .title-tech{
        padding: 0;
        margin: 0;
        background-color: none;
    }

    .img-tech{
        order: 0;
    }

    .text-02{
        order: 1;
    }

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .img-people img{
        width: 18rem;
        border-radius: 50%;
        border: .9rem solid #91AA9D;
    }
}

@media screen and (min-width: 992px) {
    .items-tech{
        width: 30rem;
    }
}

@media screen and (min-width: 1350px) {
    .items-tech{
        width: 45rem;
    }
}