@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    font-size: 62.5%;
    --primary-color: #193441;
    --secondary-color: #3E606F;
    --terciary-color: #91AA9D;
    --color-white: #EDF0F2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

main {
    color: var(--color-white);
    text-align: center;
}

main section {
    text-align: left;
}

#title {
    font-weight: 600;
    margin-top: 1.5rem;
    text-align: center;
    width: 100%;
}

h2, h3 {
    font-weight: normal;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.2rem;
}

#previousTag {
    left: 5%;
}

#nextTag {
    right: 5%;
}

#previousTag, #nextTag {
    position: absolute;
    top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
}

#previousTag:hover, #nextTag:hover {
    background-color: var(--terciary-color);
    color: var(--color-white);
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
    background-color: #142a35;
}

pre {
    overflow-x: auto;
}

pre::-webkit-scrollbar {
    width: 5rem;
    height: 1rem;
} 

pre::-webkit-scrollbar-thumb {
    background-color: var(--terciary-color);
    border-radius: 9rem;
}

code {
    white-space: break-spaces;
}

.codigo {
    background-color: #4e7a8d79;
    border-radius: 1rem; 
    padding: 2rem 2rem;
}

.atributos table {
    width: 100%;
    border-spacing: .5rem;
}

.atributos th {
    background-color: #4e7a8d79;
    padding: .4rem 1rem;
    border-radius: .5rem;
}

.atributos td {
    background-color: #667F7B;
    padding: .4rem 1rem;
    border-radius: .5rem;
}

.green-background {
    display: inline-block;
    width: min-content;
    white-space: nowrap;
    background-color: #496d7c75;
    border-radius: 3rem; 
    padding: 0rem 1rem;
}

.td-atributos {
    width: 20%;
    text-align: center;
    vertical-align: top;
}

.td-valor {
    width: 30%;
    text-align: center;
    vertical-align: top;
}

.td-descricao {
    width: 50%;
}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        width: 70vw;
        margin: 5rem;
        border-radius: 2rem;
        border: 1rem solid #10222b;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    }

    #previousTag, #nextTag {
        position: sticky;
    }
}